*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 200;
    text-rendering:optimizeLegibility;
    text-decoration: none;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.header-text-box {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 20%;
    word-spacing: 2px;
    letter-spacing: 5px;
    margin-top: 50px;
    transform: translate(-30%, -50%);
}

.header-text-box h1 {
    margin-top: 0px;
    font-family: 'Dancing Script';
    font-size: 400%;
}

.header-text-box h1 p{
    margin-top: 10px;
    font-size: 400%;
}

.header-text-box p a:link,
.header-text-box p a:visited{
    color: #fff;
    text-decoration: none;
    transition: border 0.3s;
}

.header-text-box p a:hover,
.header-text-box p a:active{
    color: #fff ;
    padding: 10px;
    border-bottom:2px solid #f04e4e;
    text-decoration: none;
}

.header-text-box .icon-big {
    font-size: 200%;
    font-weight: 500%;
    margin: 20px 10px;
}

.main-nav {
    float: right;    
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.main-nav li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding:30px 20px 20px 50px;    
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    font-family: 'Rowdies';
    font-size: 100%;
}

.main-nav li a:hover,
.main-nav li a:active {
    text-decoration: none;
    color: #f04e4e;
    font-family: 'Rowdies';
    font-size: 200%;
    padding-bottom: 10px;
}

.social-media-links {     
}

.social-media-links a:link,
.social-media-links a:visited,
.social-media-links a:hover,
.social-media-links a:active{
    color: #fff;
    text-decoration: none;
}
